body {
  background: #fff;
  font-family: Arial;
  font-size: 11px;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url(x/images/logo_reklama.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:10%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

iframe {
    overflow-y:scroll;
}

.phone_body {
  width: 360px;
  height: 780px;
  position: absolute;
  margin-left: -180px;
  margin-top: -390px;
  top: 50%;
  left: 50%;
  overflow: hidden;
  border-radius: 2.5rem;
  box-shadow: 0 0 0 1rem #47474c,
              0 0 0 1.3rem #ff7447,
              0 0 6rem 0.5rem #000,
              0 0 3rem 1rem #ff7447;
}

.phone_body2 {
  width:360px;
  height:780px;
  overflow-y: scroll;
}

.logo_reklama {
  position: fixed;
  margin: 50%;
}

.przyciski {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left:-213px;
  margin-top: -411px;
  z-index: 2;
}
